{% load static %}

<!--
<h3>Hello world!</h3>
<img src="{% static 'images/thanhbui.jpg' %}" >

-->
<!DOCTYPE html>
<html>
<head>
    <title>Bui Thi Phuong Thanh</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/thanhbui.jpg' %}" >
                <hr>
                <h4>ブィ　タン</h4><br>
                <p>【好きな事】<br>
                    コーディング・寿司・洋楽</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>自己PR</h4>
                    <hr>
                    <p>【渡日経験】<br>
                        大学卒業後、日本のお客様と仕事でやり取りする機会があった事がきっかけで、
                        日本での勤務に興味を持ち技能実習生として来日し、仕事・生活において様々な経験を出来ました。
                        2015年にベトナム帰国した後は、日本での就業経験を活かしてベトナムにある日系会社で勤務しました。
                        ベトナムで日本人男性と結婚し、彼と一緒に2018年に再び日本へ移住しました。</p>
                    <p>【長所】<br>
                        仕事の呑み込みが早いです。自分で工夫して効率良く仕事をこなせるように心掛けています。<br>
                        その場凌ぎの対応ではなく、常に先を読んで考えて行動します。</p>
                    <P>【今後の希望】<br>
                        二年間程オフショア開発チームでコミュニケーターとして仕事に関わる事が出来ましたので、開発分野が好きです。
                        ただこれからは、通訳ではなく専門スキルを身につけて私はエンジニアとして関わりたいです。</P>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>職歴</h4>
                    <hr>
                    <p>・オフショア開発ラボのコミュニケーター <br>
                       　┗サービス名：<a href="https://bdash-marketing.com/" target="_blank">b→dash</a> </p>
                    <p>・オンライン広告代理店での営業担当者</p>
                    <p>・貿易会社での購買担当者</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>学歴</h4>
                    <hr>
                    <p>・2009年11月： ホーチミン市のフン・ブン大学卒業</p>
                    <p>・専門科： 日本語学科</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>PC/ソフト　ツール使用経験</h4>
                    <hr>
                    <p>・ツール：Jira、 Redmine、 Pycharm、 Anaconda、Slack、Chatwork、Google Drive、Skype、Confluence</p>
                    <p>・OS：Mac OS、Windows</p>
                    <p>・Office：Word、Excel、PowerPoint</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                     <h4>免許・資格</h4>
                     <hr>
                     <p>・2020年5月：<a href="https://youtu.be/_uQrJ0TkZlc/" target="_blank">Python3</a>の基礎、
                         <a href="https://youtu.be/VF0oC9mkknoDjango/" target="_blank">Django</a>（独学）</p>
                     <p>・2020年4月：<a href="https://graspy.jp/lesson/1/chapter/1/" target="_blank">html・css</a>
                         ・<a href="https://graspy.jp/lesson/2/chapter/10/" target="_blank">javascript</a>の基礎（独学）</p>
                     <p>・2020年1月：Toeic 570</p>
                     <p>・2014年12月：日本語能力試験N2　（N1相当）</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>



